.text {
  background-color: #ffd700;
  text-align: center;
  width: calc(3vw + 3vh);
  height: calc(3vw + 3vh);
  font-size: calc(0.9vw + 0.9vh);
}

/* ##################################################### */

#top #left {
  position: relative;
}

#top #left .text {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

#top #mid {
  position: relative;
}

#top #mid .text {
  position: absolute;
  top: 100%;
  right: 0px;
}

#top #right {
  position: relative;
}

#top #right .text {
  position: absolute;
  bottom: 100%;
  left: 100%;
}

#bottom #left {
  position: relative;
}

#bottom #left .text {
  bottom: 100%;
  position: absolute;
  transform: translate(100%);
}

#bottom #mid {
  position: relative;
}

#bottom #mid .text {
  position: absolute;

}

#bottom #right {
  position: relative;
}

#bottom #right .text {
  position: absolute;
  right: 0%;
  transform: translate(50%, -50%);
}

/* ##################################################### */

.wrapper {
  overflow: auto;
  height: auto;
}

.box {
  width: calc(9vw + 9vh);
  height: calc(9vw + 9vh);
  background-color: #022c43;
  margin-top: 6%;
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 6%;
}

/* ##################################################### */

#big-lorem {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 0;
  border-style: solid;
  border-color: #ffd700;
  text-align: justify;
  color: white;
  border-width: 2px;
  padding: 10px 10px 10px 10px;
}

#big-lorem-header {
  margin-left: 5vw;
  color: #ffd700;
  margin-right: 5vw;
  margin-bottom: 0;

}
