* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

main {
 height: 0px;
}

form {
  position: relative;
  transform: translate(-50%,-50%);
  left: 50%;
  margin-top: 30vh;
  display: inline-block;
  width: 60%;
  max-width: 500px;
  padding: 20px 30px;
  background-color: #022c43
}

label {
  display: inline-block;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}

form input, form textarea {
  width: 100%;
  padding: 9px 10px;
  font-size: 1em;
  outline: none;
  border: 2px solid transparent;
  background-color: #02445c;
  color: white;
}

form textarea {
  min-height: 80px;
  margin-bottom: 10px;
}

form input:focus, form textarea:focus {
  border: 2px solid #ffd700;
  transition: all 0.3s;
}

#gender input, #notification input {
  width: auto;
  display: inline-block;
  margin-right: 10px;
}

button {
  border: none;
  margin: 10px 0px;
  padding: 10px 20px;
  background-color: #ffd700;
  color: black;
  font-size: 1em;
  transition: background-color 0.3s;
}

button:hover {
  background-color: white;
}