/*

.class {} => class selector
#id {} => id selector
x y {} => y in x

Ex (x-height)
Ch (character)
Em (=> 1x font size)
Rem (Root em)
display: block, inline

*/
html {
    background-color: #02445c;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
}

.flex-container {
    display: flex;
}

header {
    order: 0;
}
main {
    order: 1;
    flex-grow: 1;
}
footer {
    order: 2;
}

/* ##################################################### */

nav {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
}

nav ul {
    margin-top: 0px;
    margin-bottom: 3%;
    padding: 0px;
    background-color: #022c43;
}

nav ul li{
    margin: 0;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    list-style-type: none;
}

nav ul .nav-li {
    height: auto;
}


nav ul .active {
    background-color: #ffd700;
}

nav ul .nav-li:hover:not(.active) {
    transition: background-color 0.1s;
    background-color: #0000002a;
}

nav ul li a {
    text-decoration: none;
    letter-spacing: 10%;
    font-size: 100%;
    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

nav ul .active a {
    color: black;
}

nav ul li:not(.active) a {
    color: white;
}

/* ##################################################### */

#footer-wrapper {
    justify-content: center;
}

footer {
    color: #e4e4e4;
    background-color: #022c43;
    margin-top: 3%;
}

#footer-wrapper .left  {
    text-align: right;
    line-height: 170%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-right: 3%;
}

#footer-wrapper .mid {
    width: 1.5px;
    height: auto;
    background: #ffd700;
}

#footer-wrapper .right {
    text-align: left;
    margin-left: 3%;
    margin-top: auto;
    margin-bottom: auto;
}

footer li {
    list-style-type: none;
    position: relative;
    padding-left: 10px;
    line-height: 150%;
    padding-top: 5px;
  }

footer li:before {
    content: "\25BA \0020";
    font-size: 6px;
    position: absolute;
    top: 5px;
    left: -10px;
    padding-left: 5px;
  }

footer ul {
    padding-left: 0px;
}