/* - CSS Reset */
* {
 padding: 0px;
 margin: 0px;
 box-sizing: border-box;
}

/* - Body */
body {
  background-color: grey;
}

/* - Form */
form {
  width: 60%;
  max-width: 600px;
  padding: 10px 20px;
  margin: 30px auto; /* Center! */
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  background-color: white;
}

/* - Label */
label {
  display: block;
  padding: 10px 0px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid transparent;
  background-color: grey;
  outline: none;
  transition: all 0.3s;
}

/* Divs hinzufügen */
#gender label, #notification label{
  display: inline-block;
  padding: 10px 0px;
}

#gender input, #notification input {
  width: auto;
  margin-right: 10px;
}

input:focus, textarea:focus {
  border: 1px solid crimson;
  background-color: white;
}

button {
  padding: 10px 15px;
  margin: 20px 0px;
  border: none;
  background-color: crimson;
  color: white;
  cursor: pointer;
  transition: background-color 0.4s;
}

button:hover{
  background: teal;
}

textarea {
  min-height: 100px;
}