* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #ececec;
}
/* Basic style for H2 */
h2 {
    margin-top: 0;
    font-size: 3em;
    text-align: center;
    font-style: italic;
    padding: 5px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin-bottom: 10px;
    color: crimson;
    background-color: white;
}
form{
    width: 60%;
    max-width: 600px;
    padding: 10px 20px;
    margin: 30px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    background-color: #fff;
}

label{
    display: block;
    padding: 10px 0px;
}

#gender label, #notification label{
    display: inline-block;
    padding: 10px 0px;
    
}
#gender input, #notification input{
    width: auto;
    margin-right: 10px;
    
}

input, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid transparent;
    background-color: #ececec;
    outline: none;
    transition: all 0.4s;
}
input:focus,
textarea:focus{
    border: 1px solid crimson;
    background-color: #fff;
}

button{
    padding: 15px 20px;
    margin: 20px 0px;
    border: none;
    background-color: crimson;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.4s;
}
button:hover{
    background-color: teal;
}
textarea{
    min-height: 100px;
}












